<div id="container">

  <!-- Header Section -->
  <header class="header">
      <div style="width:100%;padding:1%" class="bg-white shadow roundy h-100 d-flex align-items-center justify-content-between">
        <div class="flex-grow-1 d-flex align-items-center">
          <img style="width:40px;" src="assets/img/icon.png "/>
          <form style="margin-left:30px;" id="searchForm" class="d-none d-lg-block">
            <div class="form-group position-relative mb-0">
              <input type="search" placeholder="Search" class="form-control form-control-sm border-0 no-shadow pl-4">
              <button type="submit" style="top: -3px;" class="position-absolute bg-white border-0 p-0"><i class="o-search-magnify-1 text-gray text-lg"></i></button>
            </div>
          </form>
        </div>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
          <li class="nav-item dropdown mr-3"><i class="fas fa-home" style="color:blue ;font-size:20px;"></i></li>
          <li class="nav-item dropdown mr-3"><a (click)="chatShow=true;"><i class="fab fa-facebook-messenger" style="color:grey;font-size:20px;"></i></a></li>
          <li class="nav-item dropdown mr-3"><i class="fas fa-user-friends" style="color:grey;font-size:20px;"></i></li>
        </ul>
        <ul class="ml-auto d-flex align-items-center list-unstyled mb-0">
          <li class="nav-item dropdown mr-3"><i class="fas fa-bell" style="color:grey;font-size:20px;"></i></li>
          <li class="nav-item dropdown mr-3"><i class="fas fa-cog" style="color:grey;font-size:20px;"></i></li>
          <li class="nav-item dropdown ml-auto"><img src="assets/img/avatar-6.jpg" alt="Harikrishnan" style="max-width: 2.5rem;" class="img-fluid rounded-circle shadow" />
            <div aria-labelledby="userInfo" class="dropdown-menu"><a href="#" class="dropdown-item"><strong class="d-block text-uppercase headings-font-family">Mark Stephen</strong><small>Web Developer</small></a>
              <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Settings</a><a href="#" class="dropdown-item">Activity log       </a>
              <div class="dropdown-divider"></div><a href="login.html" class="dropdown-item">Logout</a>
            </div>
          </li>
        </ul>
      </div>
  </header>

  
  <div class="d-flex align-items-stretch">
    <div class="page-holder w-100 d-flex flex-wrap">
      
      <div class="container-fluid px-xl-5">
        
        <!-- Create Post Section -->
        <section>
          <div class="row">
            <div class="col-lg-3" style="padding-top: 1%;">
            </div>
            <div class="col-lg-6" style="padding-top: 1%;">
              <div class="card" style="width: 100%;">
                <div class="card-body">
                  <p style="color:gray">
                    <i class="far fa-file-alt" style="color: blue;font-size: 20px;"></i>
                    &nbsp; Create Post
                  </p>
                  <input type="text" class="form-control" (keyup.enter)="PostContent();" placeholder="What's on your mind, Hari?" style="width:100%;height:100px;" [(ngModel)]="newPostContent"/>
                  <div class="col-md-3" style="padding:3%;padding-right: 0px;">
                    <div (click)="PostContent();" *ngIf="newPostContent.length>0">
                      <button type="button" class="btn btn-primary" style="font-size: 12px;">
                        <i class="far fa-image"></i>&nbsp;Post
                      </button>&nbsp;&nbsp;
                    </div>
                  </div>
                  <div class="row col-lg-14">
                    &nbsp;&nbsp;<button type="button" class="btn btn-primary" style="font-size: 12px;">
                      <i class="far fa-image"></i>&nbsp;Gallery
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" style="font-size: 12px;">
                      <i class="fas fa-user-tag"></i>&nbsp;Tag Friends
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning" style="font-size: 12px;">
                      <i class="far fa-laugh"></i>&nbsp;Feeling
                    </button>&nbsp;&nbsp;
                    <button type="button" class="btn btn-dark" style="font-size: 12px;">
                      <i class="fas fa-ellipsis-v"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3" style="padding-top: 1%;">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-10" style="padding-top:3%;padding-right: 0px;">
                      <button type="button" class="btn btn-primary" style="font-size: 12px;">
                        <i class="far fa-image"></i>&nbsp; Your Pages (1)
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Stories Section -->
        <!-- <section>
          <div class="row text-dark">
            <div class="col-lg-3" style="padding-top: 1%;">
              
            </div>
            <div class="col-md-6" style="padding-top: 1%;">
              <div class="card" style="height: 100%;width: 100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-3" style="padding-right: 0px;">
                      Stories
                    </div>
                  </div>
                  <br/>
                  <div class="row">
                    <div class="card" style="width: 5rem;height: 7rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1526512340740-9217d0159da9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
                    </div>&nbsp; &nbsp; 
                    <div class="card" style="width: 5rem;height: 7rem;">
                      <img class="card-img-top" src="https://previews.123rf.com/images/higyou/higyou0907/higyou090700027/5194086-front-view-of-a-3d-modern-building-vertical.jpg" alt="Card image cap">
                    </div>&nbsp; &nbsp; 
                    <div class="card" style="width: 5rem;height: 7rem;">
                      <img class="card-img-top" src="https://images.unsplash.com/photo-1531966662811-c6501e46eda6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" alt="Card image cap">
                    </div>&nbsp; &nbsp; 
                    <div class="card" style="width: 5rem;height: 7rem;">
                      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/12/22/09/14/ancient-577064__340.jpg" alt="Card image cap">
                    </div>&nbsp; &nbsp; 
                    <div class="card" style="width: 5rem;height: 7rem;">
                      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2014/11/13/23/34/transamerica-pyramid-530061_960_720.jpg" alt="Card image cap">
                    </div>&nbsp; &nbsp;
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section> -->

        <!-- Skeleton Template -->
        <section *ngIf="isLoading">
          <div class="row text-dark">
            <div class="col-lg-3" style="padding-top: 1%;">
              
            </div>
            <div class="col-lg-6" style="padding-top: 1%;">
              <div class="card" style="height: 100%;width: 100%;">
                <div class="card-body">
                  <div class="row">
                    <div class="fb-item">
                      <div class="first-section-wrapper">
                        <div class="gravatar">
                          <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', height: '80px' }">
                          </ngx-skeleton-loader>
                        </div>
                        <div class="gravatar-title">
                          <div>
                            <ngx-skeleton-loader
                              [theme]="{
                                width: '500px',
                                'border-radius': '0',
                                height: '15px',
                                'margin-bottom': '10px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                          <div>
                            <ngx-skeleton-loader
                              [theme]="{     
                                width: '170px',
                                'border-radius': '0',
                                height: '15px'
                              }"
                            ></ngx-skeleton-loader>
                          </div>
                        </div>
                      </div>
                      <div class="second-section-wrapper">
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '80%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '90%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                        <div class="wrapper">
                          <ngx-skeleton-loader
                            [theme]="{
                              width: '60%',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"
                          ></ngx-skeleton-loader>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Post Template -->
        <section *ngIf="isLoading==false">
          <div class="row text-dark">
            <div class="col-lg-3" style="padding-top: 1%;">
              
            </div>
            <div class="col-lg-6" style="padding-top: 1%;">
              <div class="card" style="margin-top: 1%;" *ngFor="let post of posts.slice().reverse()">
                <div class="card-body">
                  <div class="row">
                    <div class="fb-item">
                      <div class="first-section-wrapper">
                        <div class="gravatar">
                          <img src="{{ post.imageUrl }}" style="max-width: 4.0rem;" class="img-fluid rounded-circle shadow" />
                          &nbsp;&nbsp;<b>{{ post.userName }}</b>
                        </div>
                        <div class="gravatar-title">
                          <div>
                            <br/>
                            {{ post.content }}
                          </div>
                          <br/>
                          <div class="row">
                            <a style="margin-left:5%" (click)="like(post.id)" *ngIf="post.liked==false"><i class="far fa-thumbs-up"></i>{{ post.likeCount }}</a>
                            <a id="likedBtn" (click)="unlike(post.id)" style="margin-left:5%" *ngIf="post.liked"><i class="fas fa-thumbs-up"></i>{{ post.likeCount }}</a>
                            <i class="far fa-comment" style="margin-left:5%"></i>{{ post.commentCount }}
                            <a style="margin-left:5%" (click)="share(post.id,post.content)"><i class="fas fa-share"></i>{{ post.shareCount }}</a>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
       
      </div>

      <!-- Footer Section -->
      <footer class="footer bg-white shadow align-self-end py-3 px-xl-5 w-100">
        <div class="container-fluid">
          <div class="row">
            
          </div>
        </div>
      </footer>

      <!-- Chat Popup -->
      <div class="container" *ngIf="chatShow">
        <div class="row pt-3">
            <div class="chat-main">
                <div class="col-md-12 chat-header rounded-top bg-primary text-white">
                    <div class="row">
                        <div class="col-md-6 username pl-2">
                            <i class="fa fa-circle text-success" aria-hidden="true"></i>
                            <h6 class="m-0">Sundar Pichai</h6>
                        </div>
                        <div class="col-md-6 options text-right pr-2">
                            <i class="fa fa-plus mr-2" aria-hidden="true"></i>
                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                            <i class="fa fa-circle text-success live-video mr-1" aria-hidden="true"></i>
                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                            <i class="fa fa-cog mr-2" aria-hidden="true"></i>
                            <a (click)="chatShow=false;"><i class="fa fa-times hide-chat-box" aria-hidden="true"></i></a>
                          </div>
                    </div>
                </div>
                <div class="chat-content" style="background-color: whitesmoke;">
                    <div class="col-md-12 chats border">
                        <ul class="p-0">
                            <li class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1">
                                Hi
                            </li>
                            <li class="p-1 rounded mb-1">
                                <div class="receive-msg">
                                    <img src="https://pbs.twimg.com/profile_images/864282616597405701/M-FEJMZ0_400x400.jpg">
                                    <div class="receive-msg-desc  text-center mt-1 ml-1 pl-2 pr-2">
                                        <p class="pl-2 pr-2 rounded">hello</p>
                                    </div>
                                </div>
                            </li>
                            <li class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1">
                                how are you ???
                            </li>
                            <li class="p-1 rounded mb-1">
                                <div class="receive-msg">
                                    <div class="receive-msg-img">
                                        <img src="https://pbs.twimg.com/profile_images/864282616597405701/M-FEJMZ0_400x400.jpg">
                                    </div>
                                    <div class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2">
                                        <p class="mb-0 mt-1 pl-2 pr-2 rounded-top rounded-right">I'm fine !!!</p>
                                        <p class="mb-0 mt-1 pl-2 pr-2 rounded-bottom rounded-right">Where are you ?</p>
                                    </div>
                                </div>
                            </li>
                            <li class="pl-2 pr-2 bg-primary text-white text-center send-msg mb-1 rounded-top rounded-left">
                                at california
                            </li>
                            <li class="pl-2 pr-2 bg-primary text-white text-center send-msg mb-1 rounded-bottom rounded-left">
                                and where are you ?
                            </li>
                            <li class="p-1 rounded  mb-1">
                                <div class="receive-msg">
                                    <img src="https://pbs.twimg.com/profile_images/864282616597405701/M-FEJMZ0_200x200.jpg">
                                    <div class="receive-msg-desc rounded text-center mt-1 ml-1 pl-2 pr-2">
                                        <p class="pl-2 pr-2 rounded">now i'm at new york city</p>
                                    </div>
                                </div>
                            </li>
                            <li class="pl-2 pr-2 bg-primary rounded text-white text-center send-msg mb-1">
                                Ok
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 message-box border pl-2 pr-2 border-top-0">
                        <input type="text" class="pl-0 pr-0 w-100" placeholder="Type a message..." />
                    </div>
                </div>
            </div>
        </div>
      </div>

    </div>

</div>

<!-- JavaScript files-->
<script src="assets/vendor/jquery/jquery.min.js"></script>
<script src="assets/vendor/popper.js/umd/popper.min.js"> </script>
<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/vendor/jquery.cookie/jquery.cookie.js"> </script>
<script src="assets/vendor/chart.js/Chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<script src="assets/js/charts-home.js"></script>
<script src="assets/js/front.js"></script>